<footer class="bg-dark text-white py-4">
    <div class="container text-center">
        <p>&copy; {{ "now"|date("Y") }} My Website. All rights reserved.</p>
        <p>
            {# <a href="{{ path('app_privacy') }}" class="text-white">Privacy Policy</a> | #}
            {# <a href="{{ path('app_terms') }}" class="text-white">Terms of Service</a> #}
        </p>
    </div>
</footer>
